
<div class="login">
  <%= form_tag access_login_path, :method => :post do %>
  <%= label_tag(:username) %>
        <%= text_field_tag(:username, params[:username]) %>
      <%= label_tag(:password) %>
      <%= password_field_tag(:password) %>
        <%= submit_tag("Log In") %>

  <% end %>
</div>

<%= link_to "Or sign up", new_user_path %>
