<div class="container shadow-lg p-4 mb-4 bg-white">
  <div class="login container">
    <%= form_tag access_login_path, :method => :post do %>
    <%= label_tag(:username) %>
          <%= text_field_tag(:username, params[:username]) %>
        <%= label_tag(:password) %>
        <%= password_field_tag(:password) %>
          <%= submit_tag("Log In") %>

    <% end %>
    <h2><%= link_to "Or sign up", new_user_path %></h2>
  </div>
