<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<div class="container.fluid">

<% @posts.each do |p| %>
  <div class="container">
  <h1><%= p.title %></h1><br>
  <% if p.user %>
  Uploaded by: <%= link_to image_tag(p.user.avatar.url(:thumb), class: "img-circle"), user_path(p.user) %>
  <%= link_to p.user.display_name, user_path(p.user)  %>
  <% else %>
  Uploaded by: (deleted user)
  <% end %>
  <small>Uploaded: <%= time_ago_in_words(p.created_at) %> ago</small><br>
  <%= link_to image_tag(p.image.url, class: "img-responsive"), post_path(p) %>
  <% if @current_user %>
  <%= button_to "Like", post_likes_path(p), method: "POST", params: {like: {user_id: @current_user, likeable_id: p.id, likeable_type: "Post"}} %><br>
  <% end %>
  Likes: <%= p.likes.count %>
  </div><br>
<% end %>
</div>
