
<div class="container shadow-lg p-4 mb-4 bg-white">
  <br>
    <h1>Submit New Post:</h1>
  <br>
    <%= form_for @post do |f| %>
  <div class="field container-fluid">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Paste image URL here" %>
    <%= f.text_field :image_url %>
    (We recommend Imgur.com, must end in .jpg, .jpeg, or .png)
    <%= f.hidden_field :user_id, value: session[:user_id] %>
   </div>
    <%= f.submit %>
    <% end %>
  </div>
