<h1><%= @post.title %><br></h1>

<div class="post_info">
Uploaded by: <br> <%= link_to image_tag(@post.user.avatar.url(:thumb)), user_path(@post.user) %> <%= link_to @post.user.display_name, user_path(@post.user)%> <br>
Uploaded on: <%= @post.created_at.strftime("%b, %d, %Y") %> at <%= @post.created_at.strftime("%I:%M %p %Z") %><br>
<%= image_tag @post.image.url %>
</div>

<% if @current_user %>
<%= button_to "Like", post_likes_path(@post), method: "POST", params: {like: {user_id: @current_user, likeable_id: @post.id, likeable_type: "Post"}} %><br>
Likes: <%= @post.likes.count %><br>

<%= form_tag post_comments_path(@post) do  %>
  <%= label_tag "New Comment"  %>
  <%= text_area_tag "comment[content]" %>
  <%= button_to "Submit Comment", post_comments_path(@post), method: "POST", params: {comment: {user_id: @current_user, commentable_id: @post.id, commentable_type: "Post"}} %>
<% end %>
<% end %>

<%# iterate through comments associated with this post %>
<ul>

<% @post.comments.each do |comment| %>
<li>
<%= comment.user.display_name %>
<%= image_tag comment.user.avatar(:thumb) %>
<%= comment.content %></li>
<% end %></ul>
