
<div class="container shadow-lg p-4 mb-4 bg-white">
  <h1><%= @post.title %><br></h1>
<% if @post.user %>
Uploaded by: <br> <%= link_to image_tag(@post.user.avatar.url(:thumb)), user_path(@post.user) %> <%= link_to @post.user.display_name, user_path(@post.user)%> <br>
<% else %>
Uploaded by: (deleted user)
<% end %>
<small>Uploaded: <%= time_ago_in_words(@post.created_at) %> ago</small><br>
<%= image_tag @post.image.url, class: "img-responsive" %>
<% if @post.user %>
<% if @current_user == @post.user.id %>
<%= button_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<% end %>
<% if @admin %>
  <%= button_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<% if @current_user %>
<%= button_to "Like", post_likes_path(@post), method: "POST", params: {like: {user_id: @current_user, likeable_id: @post.id, likeable_type: "Post"}} %><br>
<%= render 'reports/report_button' %>
<%= form_tag post_comments_path(@post) do  %>
  <%= label_tag "New Comment"  %>
  <%= text_area_tag "comment[content]" %>
  <%= button_to "Submit Comment", post_comments_path(@post), method: "POST", params: {comment: {user_id: @current_user, commentable_id: @post.id, commentable_type: "Post"}} %>
<% end %>
<% end %>
Likes: <%= @post.likes.count %><br>

</div>


<div class="container">

<h2>Comments:</h2>

<% if !@current_user %>
  <h4>Please <%= link_to "sign in", access_login_path %> to comment or like</h4>
  <% end %>
<ul class="list-unstyled">
  <%= render(partial: 'comments/comment', collection: @comments) %>
</ul>
</div>
