<h1><%= @post.title %><br></h1>

<div class="post_info">
Uploaded by: <br> <%= link_to image_tag(@post.user.avatar.url(:thumb)), user_path(@post.user) %> <%= link_to @post.user.display_name, user_path(@post.user)%> <br>
<small>Uploaded: <%= time_ago_in_words(@post.created_at) %> ago</small><br>
<%= image_tag @post.image.url %>
</div>

<% if @current_user %>
<%= button_to "Like", post_likes_path(@post), method: "POST", params: {like: {user_id: @current_user, likeable_id: @post.id, likeable_type: "Post"}} %><br>
Likes: <%= @post.likes.count %><br>

<%= form_tag post_comments_path(@post) do  %>
  <%= label_tag "New Comment"  %>
  <%= text_area_tag "comment[content]" %>
  <%= button_to "Submit Comment", post_comments_path(@post), method: "POST", params: {comment: {user_id: @current_user, commentable_id: @post.id, commentable_type: "Post"}} %>
<% end %>
<% end %>

<ul>



<ul>
  <%= render(partial: 'comments/comment', collection: @comments) %>
</ul>
