<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light shadow p-4 mb-4" style="background-color: #e3f2fd;">
      <%= link_to "Meme Wars", '/', class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
       <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Sort by Dank", dank_path, method: :get, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sort by Top", top_path, method: :get, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Sort by Fresh", fresh_path, method: :get, class:"nav-link" %>
        </li>
        <li class="nav-item active">
          <% if session[:user_id] %>
          <%= link_to "Submit New Post", new_post_path, method: :get, class:"nav-link"%>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if session[:user_id] %>
              Logged in as: <%= User.all.find(@current_user).username %>
            <% else %>
              Please Login
            <% end %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if session[:user_id] %>
              <%= link_to "Profile", user_path(@current_user), class: "dropdown-item" %>
              <%= link_to 'Logout', access_logout_path, class: "dropdown-item" %>
            <% else %>
              <%= link_to 'Login', access_login_path, class: "dropdown-item" %>
            <% end %>
            <% if session[:admin_id] %>
              <%= link_to 'Admin Logout', access_admin_logout_path, class: "dropdown-item"  %>
              <%= link_to "Reports", access_menu_path, class: "dropdown-item"  %>
            <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>