<!DOCTYPE html>
<html>
  <head>
    <title>MemeWars03</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Meme Wars", '/' %><br>
    <% if session[:user_id] %>
      <%= link_to 'Logout', access_logout_path %>
      Logged in as: <%= link_to User.all.find(@current_user).display_name, user_path(@current_user) %>
    <% else %>
      <%= link_to 'Login', access_login_path %>
    <% end %><br>

    <% if session[:admin_id] %>
      ADMIN logged in.
      <%= link_to 'Admin Logout', access_admin_logout_path %>
      <%= link_to "Reports", access_menu_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
