<!DOCTYPE html>
<html>
  <head>
    <title>MemeWars03</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Meme Wars", '/' %><br>
    <% if session[:user_id] %>
      <%= link_to 'Logout', access_logout_path %>
      Logged in as:<%= User.all.find(@current_user).display_name %>
    <% else %>
      <%= link_to 'Login', access_login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
