<!DOCTYPE html>
<html>
  <head>
    <title>Meme Wars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Meme Wars", '/' %><br>
    Buttons for Posts, Comments, and Likes


    <%= yield %>


  </body>
</html>
